{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "import/no-unresolved": "error"
    },
    "settings": {
        "import/resolver": "webpack",
    },
    "plugins": [
        "react",
        "import"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    }
}
